.select {
    font-family: "Bebas", "Arial", sans-serif;
    font-weight: 100;
    color: white;
    background: #333333;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    text-align: center;
    margin: 5px;
}

