.vehicle_card {
    margin: 15px;
    color: white;
    position: inherit;
    box-sizing: border-box;
    width: 400px;
    height: 650px;
    backdrop-filter: blur(15px);

}


.vehicle_card_description {
    padding: 13px;
    text-align: start;

}
