.vehicle_tag{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    background: inherit;
    position: relative;
    text-shadow: black 2px 0 6px;
}
.vehicle_tag_premium{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    background: inherit;
    position: relative;
    text-shadow: black 1px 0 6px;
    color: gold;
}

.vehicle_country_tag img{
    width: 100%;
    position: absolute;
    z-index:  10;
}
.vehicle_title{
    padding: 13px;
    width: 100%;
    position: absolute;
    z-index:  20;
}
.vehicle_type_icon{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:  20;

}
.vehicle_type_icon img {
    width: 100%;
    height: 100%;

}
