* {
  margin: 0;
  padding: 0;
}
body,html {
  height: 100vh;
}
body {
  font-family: "Bebas", "Arial", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/images/see.jpg");
  background-attachment: fixed;
}
